@font-face {
  font-family: "MasonChronicles";
  src: url("../fonts/MasonChronicles.woff") format("woff"),
    url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: #141218;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right 20%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

/*=== Header ===*/

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 90px;
}

.menu-list {
  margin-left: 68px;
  margin-right: auto;
}

.menu-link {
  margin-right: 24px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link:hover {
  text-decoration: underline;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}

.social-link:first-child {
  margin-left: 0;
}

.menu-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: none;

  width: 30px;
  height: 2px;
  background: #fff;

  outline: none;
  cursor: pointer;

  transition: transform 0.2s;
}

.menu-btn::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  transition: transform 0.2s;
}

.menu-btn::after {
  position: absolute;
  left: 0;
  top: 8px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  transition: transform 0.2s;
}

/*=== Main ===*/

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.genre {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  animation-delay: 0.1s;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-delay: 0.2s;
}

.rating-stars {
  display: flex;
}

.rating-star {
  margin-right: 4px;
}

.rating-star:last-child {
  margin-right: 0;
}

.rating-number {
  margin-left: 9px;
  font-size: 12px;
  line-height: 14px;
}

.main-title {
  margin-bottom: 10px;
  font-size: 76px;
  line-height: 89px;
  font-family: "MasonChronicles", serif;
  animation-delay: 0.3s;
}

.main-info {
  max-width: 458px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
  animation-delay: 0.4s;
}

.button {
  display: inline-block;
  padding: 22px 72px;
  background: #9d2929;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  animation-delay: 0.5s;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #fff;
}

.button-play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  background: #9d2929;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-icon {
  position: relative;
  transform: translateX(5px);
}

.button-play::before {
  position: absolute;
  left: -16px;
  top: -16px;

  content: "";
  width: 132px;
  height: 132px;
  background: #9d2929;
  opacity: 0.5;
  border-radius: 50%;
  animation: pulse 1s ease-in-out 2.5s infinite;
}

/*=== Series ===*/

.series {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 420px;
  margin-bottom: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 164px;
  height: 113px;
  padding: 13px;
  margin-right: 30px;
  border-radius: 8px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e01.jpg);
}

.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e02.jpg);
}

.series-3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e03.jpg);
}

.series-4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e04.jpg);
}

.series-5 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e05.jpg);
}

.series-6 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e06.jpg);
}

.series-7 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e07.jpg);
}

.series-8 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/s01e08.jpg);
}

.card-subtitle {
  margin-bottom: 2px;
  font-size: 10px;
  line-height: 12px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.swiper-container {
  max-width: 420px;
  margin-left: 0;
}

.slide-next {
  position: absolute;
  top: 45%;
  right: -35px;
  width: 32px;
  height: 23px;
  border: none;
  outline: none;
  cursor: pointer;

  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

/*=== Footer ===*/

.footer {
  padding: 20px 0;
  margin-top: auto;
  background-color: #141218;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.4;
}

.footer-link {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
}

.footer-link:first-child {
  margin-left: 0;
}

.footer-link:hover {
  text-decoration: underline;
}

/*=== Media ===*/

@media (max-width: 768px) {
  .button-play {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-copyright {
    margin-bottom: 8px;
  }
}

@media (max-width: 576px) {
  .header {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 250px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #9d2929;
  }

  .header-active {
    display: flex;
  }

  .logo {
    margin-bottom: 25px;
  }

  .social {
    margin-bottom: 22px;
    order: 2;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    order: 3;
  }

  .menu-link {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .menu-link:last-child {
    margin-bottom: 0;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn-active {
    height: 0;
  }

  .menu-btn-active::before {
    transform: rotate(45deg);
    top: 0;
  }

  .menu-btn-active::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .main-content {
    margin-top: 196px;
  }

  .main-title {
    font-size: 56px;
  }

  .swiper-container {
    width: 75%;
  }

  .series {
    width: 75%;
  }
}