@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'), url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  background-color: #141218;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right 20%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*=== Header ===*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 90px;
}

.menu-list {
  margin-left: 68px;
  margin-right: auto;
}

.menu-link {
  margin-right: 24px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link:hover {
  text-decoration: underline;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}

/*=== Main ===*/


.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.genre {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-stars {
  display: flex;
}

.rating-star {
  margin-right: 4px;
}

.rating-star:last-child {
  margin-right: 0;
}

.rating-number {
  margin-left: 9px;
  font-size: 12px;
  line-height: 14px;
}

.main-title {
  margin-bottom: 10px;
  font-size: 76px;
  line-height: 89px;
  font-family: "MasonChronicles", serif;
}

.main-info {
  max-width: 458px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
}

.button {
  padding: 22px 72px;
  background: #9D2929;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.button-play {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  background: #9D2929;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-icon {
  position: relative;
  transform: translateX(5px);
}

.button-play::before {
  position: absolute;
  left: -16px;
  top: -16px;

  content: "";
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: .5;
  border-radius: 50%;
}

/*=== Series ===*/

.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 164px;
  height: 113px;
  padding: 13px;
  margin-right: 30px;
  border-radius: 8px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url(../img/series/ep1.png);
}

.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url(../img/series/ep2.png);
}

.card-subtitle {
  margin-bottom: 2px;
  font-size: 10px;
  line-height: 12px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.arrow {
  width: 32px;
  height: 23px;
  border: none;
  outline: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

/*=== Footer ===*/

.footer {
  padding: 20px 0;
  margin-top: auto;
  background-color: #141218;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  opacity: .4;
}

.footer-link {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
}

.footer-link:hover {
  text-decoration: underline;
}